
h2{
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
}
form>p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #676a6c;
}
.labels{
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width:800px){
    body{
        background-color: white ;
    }
  }
